@code {
    [Parameter] public Type? Lesson { get; set; }
}

@if (Lesson == typeof(EndOfLevel1))
{
    <h2>Upgrade to premium or bill your parents to keep going!</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Premium>())">Try Premium</a> 
}
else if (Lesson == typeof(Interleaving))
{
    <h2>Take a few seconds and try out the four part breathing exercise.</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Calculator>())">Try Grade Calculator</a>
}
else if (Lesson == typeof(StudyMetrics))
{
    <h2>Visit your study metrics tab to see how much time you have logged studying to date.</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Premium>())">Study Metrics</a>
}
else if (Lesson == typeof(StudyPlan))
{
    <h2>Spin through your personalized study plan and tweak it until it works for you.</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Premium>())">Study Metrics</a>
}
else if (Lesson == typeof(StudyingForTests))
{
    <h2>Think about your classes and exams. Are they objective or subjective?</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Landing.Home>())">Study Now</a>
}
else if (Lesson == typeof(IntroToStrategies))
{
    <h2>Follow the link and identify the types of classes that you are taking.</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Schedule>())">Study Plan</a>
}
else if(Lesson == typeof(SpacedRepetition))
{
    <h2>We hope you enjoyed the course. Please let us know what you thought.</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Landing.Home>())">Study Now</a>
}
else if(Lesson == typeof(TeachToLearn))
{
    <h2>Head to your study plan tab and complete a teach study strategy.</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Schedule>())">Teach a Lesson</a>
}
else if(Lesson == typeof(Introduction))
{
    <h2>Before we get started, why do you want to become better at studying?</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Goals>())">Setting Goals</a>
}
else if(Lesson == typeof(SettingGoals))
{
    <h2>Before you move on, take a few minutes to set up your study goals.</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Goals>())">Setting Goals</a>
}
else if(Lesson == typeof(Procrastination))
{
    <h2>Take a few minutes to set up your deadlines to avoid cramming.</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Deadlines>())">Set Deadlines</a>
}
else if(Lesson == typeof(StudyEnvironment))
{
    <h2>Check in for a study session and we will stream some good music for you.</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Checkin>())">Check-in Regularly</a>
}
else if(Lesson == typeof(Distractions))
{
    <h2>Please enter the specifics of your class schedule in order to use the tools.</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Schedule>())">Class Schedule</a>
}
else if(Lesson == typeof(Partners))
{
    <h2>Think about who could be a good choice for an accountability partner and invite them!</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Partners>())">Accountability Partner</a>
}
else if(Lesson == typeof(Interleaving))
{
    <h2>Try an interleaved study session: one hour for one subject, then one hour for another.</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Checkin>())">Check-in</a>
}
else if(Lesson == typeof(GroupStudy))
{
    <h2>Write down any goals that you want to try in a group setting.</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Partners>())">Create Group</a>
}
else if(Lesson == typeof(ActiveReading))
{
    <h2>Head to your study plan and complete an active reading study strategy.</h2>
    <a href="@(NavigationExtensions.GetUri<Pages.Tools.Schedule>())">Study Plan</a>
}
