@implements IDisposable
@implements DataLayer.Generators.IGenerator<DataLayer.Entities.Course>

@page "/course"
@page "/course/{Level:int}"
@page "/course/{Level:int}/{Lesson}"
@page "/course/{Level:int}/{Lesson}/Intro"
@page "/course/{Level:int}/{Lesson}/Video"
@page "/course/{Level:int}/{Lesson}/Quiz"
@page "/course/{Level:int}/{Lesson}/Reward"
@page "/course/{Level:int}/{Lesson}/Investment"

@using StudySauce.Shared.Controls
@using Microsoft.EntityFrameworkCore
@using StudySauce.Shared.Services
@using DataLayer.Customization;
@using System.Text.Json.Serialization

@inject NavigationManager Nav
@inject TranslationContext Context
@inject ITitleService TitleService
@inject IMenuService MenuService
@inject ICourseService CourseService
@inject IJsonService JsonService

<div class="flash-card @GetCurrentClass(StepMode.Intro)">
    @*TODO: change this to load dynamically from menu when i get bored of updating it*@
    @if (ActiveItem?.Course == typeof(Course1))
    {
        <Course1 Lesson="@ActiveItem.Lesson" />
    }
    else if (ActiveItem?.Course == typeof(Course2))
    {
        <Course2 Lesson="@ActiveItem.Lesson" />
    }
    else if (ActiveItem?.Course == typeof(Course3))
    {
        <Course3 Lesson="@ActiveItem.Lesson" />
    }
    <button @onclick="() => Next(StepMode.Video)">Start Lesson</button>
</div>

<div class="flash-card @GetCurrentClass(StepMode.Video)">
    <div class="video-placeholder">Video content for @Lesson</div>
    <button @onclick="() => Next(StepMode.Intro)">Back</button>
    <button typeof="submit" @onclick="() => Next(StepMode.Quiz)">Take Quiz</button>
</div>

<div class="flash-card @GetCurrentClass(StepMode.Quiz)">
    @*TODO: integrate this with Pack.razor*@
    @*Switching this to one card at a time*@
    <MetadataControl TModel="Controls.CardsControl.ViewCard" Model="@CardLayout" Data="[CurrentQuiz?.ElementAt(QuizStep ?? 0)]"></MetadataControl>
    <button @onclick="() => Next(StepMode.Video)">Back</button>
    @if (Responses.Count() == CurrentQuiz?.Count())
    {
        <button @onclick="() => Next(StepMode.Reward)">See Reward</button>
    } 
    @*else
    {
        <button @onclick="() => { QuizStep++; StateHasChanged(); }">Next Question</button>
    }*@
</div>
@*TODO: insert card flipped version here*@

<div class="flash-card @GetCurrentClass(StepMode.Reward)">
    <div class="reward">
        @if (ActiveItem?.Course == typeof(Course1))
        {
            <Course1Reward Lesson="@ActiveItem.Lesson" />
        }
        else if (ActiveItem?.Course == typeof(Course2))
        {
            <Course2Reward Lesson="@ActiveItem.Lesson" />
        }
        else if (ActiveItem?.Course == typeof(Course3))
        {
            <Course3Reward Lesson="@ActiveItem.Lesson" />
        }

    </div>
    <div class="highlighted-link">
        <button @onclick="() => Next(StepMode.Investment)">See Activity</button>
    </div>
</div>

<div class="flash-card @GetCurrentClass(StepMode.Investment)">
    <CourseInvestment Lesson="@ActiveItem?.Lesson" />
</div>


@* Progress Tracker *@
@if (CurrentIndex != null && TotalCards != null)
{
    <ul class="tab-tracker">
        @for (var i = Math.Max((int)CurrentIndex - 2, 0); i < Math.Min((int)TotalCards, (int)CurrentIndex + 3); i++)
        {
            <li class="@(i == CurrentIndex ? "text-amber-500 text-xl" : "text-slate-300")">&bullet;
                <span>@(IndexToStep(i))</span>
            </li>
        }
    </ul>
    @*Add one for visual, CurrentIndex is zero based*@
    <div class="preview-count">@(CurrentIndex + 1) of @TotalCards</div>
}

@code {
    [JsonPropertyName("level")]
    [Parameter] public int? Level { get; set; }
    [JsonPropertyName("lesson")]
    [Parameter] public string? Lesson { get; set; }
    [JsonPropertyName("step")]
    public StepMode Step { get; set; } = StepMode.Intro;
    public StepMode? PreviousStep { get; set; } = null;

    [JsonPropertyName("quiz")]
    private IEnumerable<Controls.CardsControl.ViewCard>? CurrentQuiz { get; set; }
    private IEnumerable<PropertyMetadata>? PackLayout;
    private IEnumerable<PropertyMetadata>? CardLayout;

    private List<DataLayer.Entities.Response> Responses = new();

    public ICourseMenuItem? ActiveItem { get; set; }
    public int? QuizStep { get; set; }
    public int? CurrentIndex { get => Step < StepMode.Quiz 
        ? (int)Step : Step > StepMode.Quiz 
        ? (CurrentQuiz?.Count() + (int)Step) : ((int)Step + Responses.Count()); }
    public int? TotalCards { get => Enum.GetValues<StepMode>().Count() + CurrentQuiz?.Count(); }
    public string? IndexToStep(int i) => i < (int)StepMode.Quiz 
        ? Enum.GetName<StepMode>((StepMode)i)?.ToString() : i > (CurrentQuiz?.Count() + (int)StepMode.Quiz) 
        ? Enum.GetName<StepMode>((StepMode)(i - CurrentQuiz!.Count()))?.ToString()
        : "Quiz " + (i - (int)StepMode.Quiz + 1);

    protected override void OnInitialized()
    {
        PackLayout = Controls.PackControl.ViewPack.Metadata.Groups["Display"]?.ToList();
        CardLayout = Controls.CardsControl.ViewCard.Metadata.Groups["Display"]?.ToList();

        // TODO: make sure this goes through RemoteQuery on web assembly client
        //_ = LoadDataAsync();
        Nav.LocationChanged += OnLocationChanged;
        CourseService.OnStepChanged += OnStepChanged;
        CourseService.OnCourseChanged += OnCourseChanged;
        Console.WriteLine("Course initialized");
    }


    protected static IEnumerable<Controls.CardsControl.ViewCard>? GetCurrentQuiz(Type? lesson)
    {
        var generator = lesson?.GetMethod("Generate", System.Reflection.BindingFlags.Static | System.Reflection.BindingFlags.Public);
        IEnumerable<DataLayer.Entities.Card>? cards = generator?.Invoke(null, []) as IEnumerable<DataLayer.Entities.Card>;
        return cards?.Select(c => new Controls.CardsControl.ViewCard() { Card = c });
    }


    private PersistingComponentStateSubscription _subscription;
    protected override async Task OnInitializedAsync()
    {
        //Context.Packs.Where(p => p.Id == 0).ToListAsync();
        await JsonService.RestoreState(this);
        OnSetCourseParameters();

    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        OnSetCourseParameters();
        CurrentQuiz = GetCurrentQuiz(ActiveItem?.Lesson);
        JsonService.SetState(this);
    }


    protected void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        OnSetCourseParameters();
    }

    protected void OnSetCourseParameters()
    {
        var newItem = CourseMenu.GetActiveItem(Level, Lesson);

        if (ActiveItem?.Course != newItem?.Course
            || ActiveItem?.Lesson != newItem?.Lesson)
        {
            CourseService.SetCourse(newItem);
            CourseService.SetStep(StepMode.Intro);
            return;
        }


        var relativePath = Nav.ToBaseRelativePath(Nav.Uri);

        var segments = relativePath.Split('/');

        StepMode? newStep = null;
        if (segments.Count() >= 4)
        {
            newStep = segments[3].TryParse<StepMode>() ?? StepMode.Intro;
            if (newStep != Step)
            {
                CourseService.SetStep(newStep ?? StepMode.Intro);
            }
        }
    }

    protected string GetCurrentClass(StepMode step)
    {
        if (Step == step) return "animate-in";
        if (PreviousStep == step) return "animate-out";
        return "hidden";
    }

    protected void OnStepChanged(StepMode? step)
    {
        PreviousStep = Step;
        Step = step ?? StepMode.Intro;
        QuizStep = 0;
        SetCourseTitle();
        StateHasChanged();
    }

    protected void OnCourseChanged(ICourseMenuItem? item)
    {
        PreviousStep = null;
        ActiveItem = item;
        SetCourseTitle();
        StateHasChanged();
    }

    protected void SetCourseTitle()
    {
        TitleService.UpdateTitle(ActiveItem?.Title + " - " + Step.ToString());
        //Layout?.SetHeaderTitle(builder => builder.AddContent(0, ActiveItem?.Title + " - " + Step.ToString()));

        MenuService.SetMenu(@<StudySauce.Shared.Pages.Shared.Course Step="@((int)Step)" Level="@Level" Lesson="@Lesson" />);
    
        if (ActiveItem?.Lesson != null)
        {
            //_ = LoadDataAsync();
            //CurrentQuiz = new PackControl.ViewPack { Pack = Context.Packs.Where(p => p.Title == ActiveItem.Lesson.Name).FirstOrDefault() };
        }

    }
    
    public void Dispose()
    {
        Nav.LocationChanged -= OnLocationChanged;
        CourseService.OnStepChanged -= OnStepChanged;
        CourseService.OnCourseChanged -= OnCourseChanged;
        _subscription.Dispose();
    }

    private void Next(StepMode nextStep) => Nav.NavigateTo<Pages.Course.Course>(c => new() { Level = ActiveItem != null ? ActiveItem.Level : 1, Lesson = ActiveItem != null && ActiveItem.Lesson != null ? ActiveItem.Lesson.Name.ToSafe() : "", Step = nextStep });

    private void Finish() { /* Navigate back or to next lesson */ }

    public static IEnumerable<DataLayer.Entities.Course> Generate()
    {
        var ss = new DataLayer.Entities.Course() { Title = "Study Sauce" };
        return ((Type[])[typeof(Course1), typeof(Course2), typeof(Course3)]).Select(type => CourseMenu.GetCourse(typeof(Course3)))
            .Select(mi => new DataLayer.Entities.Course() { 
                Parent = ss, 
                Title = "Study Sauce: " + mi?.Title, 
                Summary = "Course topics:\n* " + string.Join("\n* ", mi?.Children.Select(ci => ci.Title) ?? [])
            });
    }
}