@implements IDisposable
@implements DataLayer.Generators.IGenerator<DataLayer.Entities.Course>

@page "/course"
@page "/course/{Level:int}"
@page "/course/{Level:int}/{Lesson}"
@page "/course/{Level:int}/{Lesson}/Intro"
@page "/course/{Level:int}/{Lesson}/Video"
@page "/course/{Level:int}/{Lesson}/Quiz"
@page "/course/{Level:int}/{Lesson}/Reward"
@page "/course/{Level:int}/{Lesson}/Investment"

@using StudySauce.Shared.Controls
@using Microsoft.EntityFrameworkCore
@using StudySauce.Shared.Services
@using DataLayer.Customization;
@using System.Text.Json.Serialization

@inject NavigationManager Nav
@inject TranslationContext Context
@inject ITitleService TitleService
@inject IMenuService MenuService
@inject ICourseService CourseService
@inject IJsonService JsonService

<div class="course-container">
@if (ActiveItem != null)
    {
        <div class="card-viewer">

            <div class="card-stage">
                @switch (Step)
                {
                    case StepMode.Intro:
                        // TODO: change this to load dynamically from menu when i get bored of updating it
                        <div class="flash-card animate-in">
                            @if (ActiveItem.Course == typeof(Course1))
                            {
                                <Course1 Lesson="@ActiveItem.Lesson" />
                            }
                            else if (ActiveItem.Course == typeof(Course2))
                            {
                                <Course2 Lesson="@ActiveItem.Lesson" />
                            }
                            else if (ActiveItem.Course == typeof(Course3))
                            {
                                <Course3 Lesson="@ActiveItem.Lesson" />
                            }
                            <button @onclick="() => Next(StepMode.Video)">Start Lesson</button>
                        </div>
                        break;
                    case StepMode.Video:
                        <div class="flash-card animate-in">
                            <div class="video-placeholder">Video content for @Lesson</div>
                            <button @onclick="() => Next(StepMode.Quiz)">Take Quiz</button>
                        </div>
                        break;
                    case StepMode.Quiz:
                        <div class="flash-card animate-in">
                            <MetadataControl TModel="CardsControl.ViewCard" Model="@PackLayout" Data="@CurrentQuiz"></MetadataControl>
                            @if (Responses.Count() == CardCount)
                            {
                                <button @onclick="() => Next(StepMode.Reward)">See Reward</button>
                            }
                        </div>
                        break;
                    case StepMode.Reward:
                        <div class="flash-card animate-in">
                            <div class="reward">
                                @if (ActiveItem.Course == typeof(Course1))
                                {
                                    <Course1Reward Lesson="@ActiveItem.Lesson" />
                                }
                                else if (ActiveItem.Course == typeof(Course2))
                                {
                                    <Course2Reward Lesson="@ActiveItem.Lesson" />
                                }
                                else if (ActiveItem.Course == typeof(Course3))
                                {
                                    <Course3Reward Lesson="@ActiveItem.Lesson" />
                                }

                            </div>
                            <div class="highlighted-link mt-8">
                                <button @onclick="() => Next(StepMode.Investment)">See Activity</button>
                            </div>
                        </div>
                        break;
                    case StepMode.Investment:
                        <div class="flash-card animate-in">
                            <CourseInvestment Lesson="@ActiveItem.Lesson" />
                        </div>
                        break;
                }
            </div>

            @* Progress Tracker *@
            <ul class="tab-tracker flex justify-center gap-2 mt-6">
                <li class="text-slate-300">&bullet;</li>
                <li class="text-slate-300">&bullet;</li>
                <li class="text-amber-500 text-xl leading-none">&bullet;</li>
                <li class="text-slate-300">&bullet;</li>
                <li class="text-slate-300">&bullet;</li>
            </ul>

        </div>


    }
</div>

@code {
    [JsonPropertyName("level")]
    [Parameter] public int? Level { get; set; }
    [JsonPropertyName("lesson")]
    [Parameter] public string? Lesson { get; set; }
    [JsonPropertyName("step")]
    public StepMode Step { get; set; } = StepMode.Intro;
    public int CardCount { get; set; } = 0;

    [JsonPropertyName("quiz")]
    private IEnumerable<Controls.CardsControl.ViewCard>? CurrentQuiz { get; set; }
    private IEnumerable<PropertyMetadata>? PackLayout;
    private List<DataLayer.Entities.Response> Responses = new();

    public ICourseMenuItem? ActiveItem { get; set; }

    protected override void OnInitialized()
    {
        PackLayout = Controls.PackControl.ViewPack.Metadata.Groups["Display"]?.ToList();
        // TODO: make sure this goes through RemoteQuery on web assembly client
        //_ = LoadDataAsync();
        Nav.LocationChanged += OnLocationChanged;
        CourseService.OnStepChanged += OnStepChanged;
        CourseService.OnCourseChanged += OnCourseChanged;
        Console.WriteLine("Course initialized");
    }


    protected static IEnumerable<Controls.CardsControl.ViewCard>? GetCurrentQuiz(Type? lesson)
    {
        var generator = lesson?.GetMethod("Generate", System.Reflection.BindingFlags.Static | System.Reflection.BindingFlags.Public);
        IEnumerable<DataLayer.Entities.Card>? cards = generator?.Invoke(null, []) as IEnumerable<DataLayer.Entities.Card>;
        return cards?.Select(c => new Controls.CardsControl.ViewCard() { Card = c });
    }


    private PersistingComponentStateSubscription _subscription;
    protected override async Task OnInitializedAsync()
    {
        await JsonService.RestoreState(this);
        OnSetCourseParameters();

    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        OnSetCourseParameters();
        CurrentQuiz = GetCurrentQuiz(ActiveItem?.Lesson);
        JsonService.SetState(this);
    }


    protected void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        OnSetCourseParameters();
    }

    protected void OnSetCourseParameters()
    {
        var newItem = CourseMenu.GetActiveItem(Level, Lesson);

        if (ActiveItem?.Course != newItem?.Course
            || ActiveItem?.Lesson != newItem?.Lesson)
        {
            CourseService.SetCourse(newItem);
            CourseService.SetStep(StepMode.Intro);
            return;
        }


        var relativePath = Nav.ToBaseRelativePath(Nav.Uri);

        var segments = relativePath.Split('/');

        StepMode? newStep = null;
        if (segments.Count() >= 4)
        {
            newStep = segments[3].TryParse<StepMode>() ?? StepMode.Intro;
            if (newStep != Step)
            {
                CourseService.SetStep(newStep ?? StepMode.Intro);
            }
        }
    }

    protected void OnStepChanged(StepMode? step)
    {
        Step = step ?? StepMode.Intro;
        SetCourseTitle();
        StateHasChanged();
    }

    protected void OnCourseChanged(ICourseMenuItem? item)
    {
        ActiveItem = item;
        SetCourseTitle();
        StateHasChanged();
    }

    protected void SetCourseTitle()
    {
        TitleService.UpdateTitle(ActiveItem?.Title + " - " + Step.ToString());
        //Layout?.SetHeaderTitle(builder => builder.AddContent(0, ActiveItem?.Title + " - " + Step.ToString()));

        MenuService.SetMenu(@<StudySauce.Shared.Pages.Shared.Course Step="@((int)Step)" Level="@Level" Lesson="@Lesson" />);
    
        if (ActiveItem?.Lesson != null)
        {
            //_ = LoadDataAsync();
            //CurrentQuiz = new PackControl.ViewPack { Pack = Context.Packs.Where(p => p.Title == ActiveItem.Lesson.Name).FirstOrDefault() };
        }

    }
    
    public void Dispose()
    {
        Nav.LocationChanged -= OnLocationChanged;
        CourseService.OnStepChanged -= OnStepChanged;
        CourseService.OnCourseChanged -= OnCourseChanged;
        _subscription.Dispose();
    }

    private void Next(StepMode nextStep) => Nav.NavigateTo<Pages.Course.Course>(c => new() { Level = ActiveItem != null ? ActiveItem.Level : 1, Lesson = ActiveItem != null && ActiveItem.Lesson != null ? ActiveItem.Lesson.Name.ToSafe() : "", Step = nextStep });

    private void Finish() { /* Navigate back or to next lesson */ }

    public static IEnumerable<DataLayer.Entities.Course> Generate()
    {
        var newItem = CourseMenu.GetCourse(typeof(Course3));

        return newItem?.Children.Select(mi => new DataLayer.Entities.Course() { Title = "Study Sauce" }) ?? [];
    }
}