@page "/groups"
@page "/groups/add"
@page "/groups/list"
@page "/groups/{Id:int}"
@page "/groups/{Id:int}/view"
@page "/groups/{Id:int}/edit"

@using StudySauce.Shared.Controls
@using StudySauce.Shared.Services
@using System.ComponentModel
@inject IMenuService MenuService
@inject NavigationManager Nav

<SyncedTitle Title="Group Management"></SyncedTitle>
<div class="flash-card  @GetDisplayClass(DataLayer.Customization.ControlMode.List)">

    <h2>Manage Groups</h2>

    <heading class="flex-row">
        <label></label>
        <label>Group Name</label>
        <label>Groups</label>
        <label># of Packs</label>
        <label># of Users</label>
        <label>Actions</label>
    </heading>
    <MetadataControl TModel="DataLayer.Entities.Group" Model="@GroupLayout" Data="@CurrentGroups"></MetadataControl>

    <h2>Group Controls</h2>
    <div class="link-list">
        <a href="@(NavigationExtensions.GetUri<Pages.Admin.Groups>(u => new() { ControlMode = DataLayer.Customization.ControlMode.Add }))"><i class="bi bi-person-plus" aria-hidden="true"></i> Add Group</a>
        <a href="@(NavigationExtensions.GetUri<Pages.Admin.Activity>())"><i class="bi bi-activity" aria-hidden="true"></i> Group Activity</a>
        <a href="@(NavigationExtensions.GetUri<Pages.Admin.Roles>())"><i class="bi bi-person-badge" aria-hidden="true"></i> Manage Roles</a>
        <a href="@(NavigationExtensions.GetUri<Pages.Admin.Permissions>())"><i class="bi bi-lock" aria-hidden="true"></i> Manage Permissions</a>
    </div>
</div>



<div class="group-add flash-card @GetDisplayClass(DataLayer.Customization.ControlMode.Add)">
    <div>
        <fieldset>
            <legend>Group Info</legend>
            <MetadataControl TModel="DataLayer.Entities.Group" Model="@InfoLayout" Data="[new DataLayer.Entities.Group()]"></MetadataControl>
        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Extended Info</legend>
            <MetadataControl TModel="DataLayer.Entities.Group" Model="@ExtendedLayout" Data="[new DataLayer.Entities.Group()]"></MetadataControl>
        </fieldset>
    </div>
    <div class="highlighted-link">
        <button class="deemphasize back" @onclick="(() => NavigationExtensions.NavigateTo<Pages.Admin.Groups>(Nav, u => new() { ControlMode = DataLayer.Customization.ControlMode.List }))"><span class="bi bi-chevron-left"></span> Back</button>
        <button class="cta" @onclick="() => CreateGroup()">Save</button>
    </div>

</div>


@code {

    public static EntityMetadata Metadata => new EntityMetadata(typeof(Pages.Admin.Groups));
    [Category("Display")]
    public IEnumerable<DataLayer.Entities.Group>? CurrentGroups { get; set; }
    public DataLayer.Customization.ControlMode? ControlMode { get; set; }
    public DataLayer.Customization.ControlMode? PreviousMode { get; set; }
    public IEnumerable<PropertyMetadata>? GroupLayout { get; set; }
    public IEnumerable<PropertyMetadata>? InfoLayout { get; set; }
    public IEnumerable<PropertyMetadata>? ExtendedLayout { get; set; }
    [Parameter] public int? Id { get; set; }

    protected void CreateGroup()
    {

    }

    protected override void OnInitialized()
    {
        // Define the contextual menu for THIS page
        MenuService?.SetMenu(@<StudySauce.Shared.Pages.Shared.Users />);
        GroupLayout = Pages.Admin.Groups.Metadata.Categories["Display"]?.ToList();
        InfoLayout = DataLayer.EntityMetadata.Group.Groups["Group Info"]?.ToList();
        ExtendedLayout = DataLayer.EntityMetadata.Group.Groups["Extended Info"]?.ToList();
        Nav.LocationChanged += OnLocationChanged;
    }


    protected void SetControlMode()
    {
        var relativePath = Nav.ToBaseRelativePath(Nav.Uri);

        var segments = relativePath.Split('/');

        DataLayer.Customization.ControlMode? newStep = DataLayer.Customization.ControlMode.List;
        if (segments.Count() == 2 && Id != null)
        {
            newStep = DataLayer.Customization.ControlMode.View;
        }
        else if (segments.Count() >= 2)
        {
            newStep = segments.Last().TryParse<DataLayer.Customization.ControlMode>() ?? DataLayer.Customization.ControlMode.List;
        }
        if (newStep != ControlMode)
        {
            PreviousMode = ControlMode;
            ControlMode = newStep;
            StateHasChanged();
        }
    }

    protected void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        SetControlMode();
    }

    protected string? GetDisplayClass(DataLayer.Customization.ControlMode mode)
    {
        if (ControlMode == mode) return "animate-in";
        if (PreviousMode == mode) return "animate-out";
        return "hidden";
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        CurrentGroups = DataLayer.Generators.Groups.Generate();
        SetControlMode();
        StateHasChanged();
    }


    public void Dispose()
    {
        Nav.LocationChanged -= OnLocationChanged;
    }
}