@page "/settings"
@using StudySauce.Shared.Controls
@using StudySauce.Shared.Services
@using System.ComponentModel
@using System.Reflection
@using System.ComponentModel.DataAnnotations
@inject IMenuService MenuService


<SyncedTitle Title="Application Settings"></SyncedTitle>

<div class="flash-card animate-in">
    <h2>Display Settings</h2>
    <div>
        <span>Show animated background from packs</span>
        <input type="checkbox" />
    </div>
    <div>
        <span>Match dark/light mode to OS</span>
        <input type="checkbox" />
    </div>
    <div>
        <span>Dark mode</span>
        <input type="checkbox" />
    </div>
    <div>
        <span>High contrast theme</span>
        <input type="checkbox" />
    </div>
    <div>
        <span>Start when computer starts</span>
        <input type="checkbox" />
    </div>


    <MetadataControl Data="@([new DataLayer.Entities.Setting() {Name = "Application.Background", Value = Background.ToString()}])" TModel="DataLayer.Entities.Setting" Model="[ThemeLayout?.ElementAt(0)]" ValueChanged="@(EventCallback.Factory.Create<Tuple<PropertyMetadata, DataLayer.Entities.Setting, object?>>(this, HandleTheme))" />
    <MetadataControl Data="@([new DataLayer.Entities.Setting() {Name = "Application.Theme", Value = Application.ToString()}])" TModel="DataLayer.Entities.Setting" Model="[ThemeLayout?.ElementAt(1)]" ValueChanged="@(EventCallback.Factory.Create<Tuple<PropertyMetadata, DataLayer.Entities.Setting, object?>>(this, HandleTheme))" />
    <MetadataControl Data="@([new DataLayer.Entities.Setting() {Name = "Application.Sidebar", Value = Sidebar.ToString()}])" TModel="DataLayer.Entities.Setting" Model="[ThemeLayout?.ElementAt(2)]" ValueChanged="@(EventCallback.Factory.Create<Tuple<PropertyMetadata, DataLayer.Entities.Setting, object?>>(this, HandleTheme))" />

    <button name="themeSelect" class="cta" @onclick="() => RandomizeTheme()">Randomize Theme</button>

    <h2>Parental Controls</h2>
    <div>
        <span>Allow child accounts to subscribe to new content</span>
        <input type="checkbox" />
    </div>


    <h2>Telemetry</h2>
    <div>
        <span>Enable non-specific usage statistics sharing with content creators</span>
        <input type="checkbox" />
    </div>
    <div>
        <span>Enable non-specific usage statistics sharing with hosts</span>
        <input type="checkbox" />
    </div>

    <h2><a href="@(NavigationExtensions.GetUri<Pages.Admin.Hosting>())">Hosting</a></h2>
    <div>
        <span><a href="@(NavigationExtensions.GetUri<Pages.Admin.Hosting>())">Enable hosting</a> to access your own study system from the web.</span>
    </div>
</div>

@code
{
    public ApplicationTheme? _app;
    [Display(GroupName = "Themes", Order = 1)]
    public ApplicationTheme? Application
    {
        get
        {
            return _app;
        }
        set
        {
            _app = value;
            MenuService.SetApplication(_app);
        }
    }

    public SidebarTheme? _theme;
    [Display(GroupName = "Themes", Order = 2)]
    public SidebarTheme? Sidebar
    {
        get
        {
            return _theme;
        }
        set
        {
            _theme = value;
            MenuService.SetSidebar(_theme);
        }
    }

    static EntityMetadata Metadata = new EntityMetadata(typeof(Pages.Admin.Settings));
    IEnumerable<PropertyMetadata>? ThemeLayout { get; set; }


    public AnimationMode? _background;
    [Display(GroupName = "Themes", Order = 0)]
    public AnimationMode? Background
    {
        get
        {
            return _background;
        }
        set
        {
            _background = value;
            MenuService.SetBackground(_background);
        }
    }


    protected void RandomizeTheme()
    {
        var animationValues = Enum.GetValues<AnimationMode>();
        int randomAnimation = Random.Shared.Next(1, animationValues.Length);
        Background = animationValues[randomAnimation];

        var themeValues = Enum.GetValues<ApplicationTheme>();
        int randomTheme = Random.Shared.Next(1, themeValues.Length);
        Application = themeValues[randomTheme];

        // TODO: always make random sidebar and application match?
        var sidebarValues = Enum.GetValues<SidebarTheme>();
        //int randomSidebar = Random.Shared.Next(1, sidebarValues.Length);
        Sidebar = sidebarValues[randomTheme];
    }

    private async Task HandleTheme(Tuple<PropertyMetadata, DataLayer.Entities.Setting, object?> selectedValue)
    {
        var baseType = Nullable.GetUnderlyingType(selectedValue.Item1.PropertyType) ?? selectedValue.Item1.PropertyType;
        if (baseType == typeof(ApplicationTheme))
        {
            Application = selectedValue.Item3 as ApplicationTheme?;
        }
        else if(baseType == typeof(SidebarTheme))
        {
            Sidebar = selectedValue.Item3 as SidebarTheme?;
        }
        else if (baseType == typeof(AnimationMode))
        {
            Background = selectedValue.Item3 as AnimationMode?;
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        MenuService?.SetMenu(@<StudySauce.Shared.Pages.Shared.Settings />);
        ThemeLayout = Pages.Admin.Settings.Metadata.Groups["Themes"]?.ToList();
    }

    [Obfuscation(Exclude = true, ApplyToMembers = true)]
    public enum ApplicationTheme
    {
        [Description("Atrium Ivory (vs Default Purple)")]
        Ivory = 0,

        [Description("Dark Slate (vs Shale Life)")]
        DarkSlate = 13,

        [Description("Midnight Void (vs Daybreak)")]
        MidnightVoid = 14,

        [Description("Arctic Thaw (vs Desert Sunset)")]
        ArcticThaw = 15,

        [Description("Abyssal Trench (vs Ocean Ripple)")]
        AbyssalTrench = 16,

        [Description("Oxidized Iron (vs Silver Chrome)")]
        OxidizedIron = 17,

        [Description("Deep Sea Kelp (vs Coral Reef)")]
        DeepSeaKelp = 18,

        [Description("Solar Flare (vs Dusk)")]
        SolarFlare = 19,

        [Description("Monochrome Matrix (vs Rainbow)")]
        MonochromeMatrix = 20,

        [Description("Lead Fortress (vs Golden Gate)")]
        LeadFortress = 21,

        [Description("Ashen Wastes (vs Emerald Forest)")]
        AshenWastes = 22,

        [Description("Inverted Neon (vs Night Vision)")]
        InvertedNeon = 23,

        [Description("Sour Lime (vs Berry Blast)")]
        SourLime = 24,

        [Description("Obsidian Ledger (vs Parchment)")]
        ObsidianLedger = 25,

        [Description("Daybreak (Classic Sunrise)")]
        Daybreak = 1,

        [Description("Desert Sunset (Banded Gold)")]
        DesertSunset = 2,

        [Description("Ocean Ripple (Deep Reflective)")]
        OceanRipple = 3,

        [Description("Silver Chrome (Metallic)")]
        SilverChrome = 4,

        [Description("Coral Reef (Tropical Cyan)")]
        CoralReef = 5,

        [Description("Dusk (Atmospheric Night)")]
        Dusk = 6,

        [Description("Rainbow Peak (Full Spectrum)")]
        RainbowPeak = 7,

        [Description("Golden Gate (Polished Gold)")]
        GoldenGate = 8,

        [Description("Emerald Forest (Vibrant Green)")]
        EmeraldForest = 9,

        [Description("Night Vision (Matrix Green)")]
        NightVision = 10,

        [Description("Berry Blast (Candy Red/Blue)")]
        BerryBlast = 11,

        [Description("Parchment (Academic Beige)")]
        Parchment = 12
    }

    [Obfuscation(Exclude = true, ApplyToMembers = true)]
    public enum SidebarTheme
    {

        [Description("Default (Blazor Purple)")]
        Default = 0,

        [Description("Midnight Void (vs Daybreak)")]
        MidnightVoid = 14,

        [Description("Arctic Thaw (vs Desert Sunset)")]
        ArcticThaw = 15,

        [Description("Abyssal Trench (vs Ocean Ripple)")]
        AbyssalTrench = 16,

        [Description("Oxidized Iron (vs Silver Chrome)")]
        OxidizedIron = 17,

        [Description("Deep Sea Kelp (vs Coral Reef)")]
        DeepSeaKelp = 18,

        [Description("Solar Flare (vs Dusk)")]
        SolarFlare = 19,

        [Description("Monochrome Matrix (vs Rainbow)")]
        MonochromeMatrix = 20,

        [Description("Lead Fortress (vs Golden Gate)")]
        LeadFortress = 21,

        [Description("Ashen Wastes (vs Emerald Forest)")]
        AshenWastes = 22,

        [Description("Inverted Neon (vs Night Vision)")]
        InvertedNeon = 23,

        [Description("Sour Lime (vs Berry Blast)")]
        SourLime = 24,

        [Description("Obsidian Ledger (vs Parchment)")]
        ObsidianLedger = 25,

        [Description("Shale Life (Default Dark Mode)")]
        ShaleLife = 13,

        [Description("Daybreak (Classic Sunrise)")]
        Daybreak = 1,

        [Description("Desert Sunset (Banded Gold)")]
        DesertSunset = 2,

        [Description("Ocean Ripple (Deep Reflective)")]
        OceanRipple = 3,

        [Description("Silver Chrome (Metallic)")]
        SilverChrome = 4,

        [Description("Coral Reef (Tropical Cyan)")]
        CoralReef = 5,

        [Description("Dusk (Atmospheric Night)")]
        Dusk = 6,

        [Description("Rainbow Peak (Full Spectrum)")]
        RainbowPeak = 7,

        [Description("Golden Gate (Polished Gold)")]
        GoldenGate = 8,

        [Description("Emerald Forest (Vibrant Green)")]
        EmeraldForest = 9,

        [Description("Night Vision (Matrix Green)")]
        NightVision = 10,

        [Description("Berry Blast (Candy Red/Blue)")]
        BerryBlast = 11,

        [Description("Parchment (Academic Beige)")]
        Parchment = 12
    }

    [Obfuscation(Exclude = true, ApplyToMembers = true)]
    public enum AnimationMode
    {
        [Description("None (Turn Off)")]
        None = 0,

        [Description("Lichtenberg Cube")]
        lichtenberg = 1,

        [Description("Lichtenberg Light")]
        lichtenlight = 2,

        [Description("Lichten Birds")]
        lichtenbird = 3,

        [Description("Lichten Atrium")]
        lichtenatrium = 4
    }
}