@implements IDisposable
@page "/users"
@page "/users/add"
@page "/users/list"
@page "/users/{Id}"
@page "/users/{Id}/view"
@page "/users/{Id}/edit"
@page "/users/{Id}/group"
@page "/users/{Id}/owner"
@using Microsoft.EntityFrameworkCore
@using StudySauce.Shared.Controls
@using StudySauce.Shared.Services
@using System.ComponentModel
@inject IMenuService MenuService
@inject ITitleService TitleService
@inject NavigationManager Nav

<div class="flash-card @GetDisplayClass(DataLayer.Customization.ControlMode.List)">
    <heading class="flex-row">
        <label></label>
        <label>User Name</label>
        <label>Groups</label>
        <label>Cards Completed</label>
        <label>Last Login</label>
        <label>Actions</label>
    </heading>
    <MetadataControl TModel="DataLayer.Entities.User" Model="@UserLayout" Data="@CurrentUsers"></MetadataControl>


    <h2>User Controls</h2>
    <div class="link-list">
        <a href="@(NavigationExtensions.GetUri<Pages.Admin.Users>(u => new() { ControlMode = DataLayer.Customization.ControlMode.Add }))"><i class="bi bi-person-plus" aria-hidden="true"></i> Add User</a>
        <a href="@(NavigationExtensions.GetUri<Pages.Admin.Activity>())"><i class="bi bi-activity" aria-hidden="true"></i> User Activity</a>
        <a href="@(NavigationExtensions.GetUri<Pages.Admin.Roles>())"><i class="bi bi-person-badge" aria-hidden="true"></i> Manage Roles</a>
        <a href="@(NavigationExtensions.GetUri<Pages.Admin.Permissions>())"><i class="bi bi-lock" aria-hidden="true"></i> Manage Permissions</a>
    </div>
</div>

<div class="user-add flash-card @GetDisplayClass(DataLayer.Customization.ControlMode.Add)">
    <div>
        <fieldset>
            <legend>Login Info</legend>
            <MetadataControl TModel="DataLayer.Entities.User" Model="@LoginLayout" Data="[new DataLayer.Entities.User()]"></MetadataControl>
        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>General Info</legend>
            <MetadataControl TModel="DataLayer.Entities.User" Model="@GeneralLayout" Data="[new DataLayer.Entities.User()]"></MetadataControl>
        </fieldset>
    </div>
    <div class="highlighted-link">
        <button class="deemphasize back" @onclick="(() => NavigationExtensions.NavigateTo<Pages.Admin.Users>(Nav, u => new() { ControlMode = DataLayer.Customization.ControlMode.List }))"><span class="bi bi-chevron-left"></span> Back</button>
        <button class="cta" @onclick="() => CreateUser()">Save</button>
    </div>

</div>


@if(CurrentUser != null)
{
    <div class="user-edit flash-card @GetDisplayClass(DataLayer.Customization.ControlMode.Edit)">
        <div>
            <fieldset>
                <legend>Login Info</legend>
                <MetadataControl TModel="DataLayer.Entities.User" Model="@LoginLayout" Data="[CurrentUser]"></MetadataControl>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend>General Info</legend>
                <MetadataControl TModel="DataLayer.Entities.User" Model="@GeneralLayout" Data="[CurrentUser]"></MetadataControl>
            </fieldset>
        </div>
        <div class="highlighted-link">
            <button class="deemphasize back" @onclick="(() => NavigationExtensions.NavigateTo<Pages.Admin.Users>(Nav, u => new() { ControlMode = DataLayer.Customization.ControlMode.List }))"><span class="bi bi-chevron-left"></span> Back</button>
            <a href="">User Membership</a>
            <a href="">User Packs</a>
            <button class="cta" @onclick="() => UpdateUser()">Save</button>
        </div>
    </div>

    <div class="user-edit flash-card @GetDisplayClass(DataLayer.Customization.ControlMode.Group)">

    </div>


    <div class="user-edit flash-card @GetDisplayClass(DataLayer.Customization.ControlMode.Owner)">
    </div>
}


@code {
    public static EntityMetadata Metadata => new EntityMetadata(typeof(Pages.Admin.Users));

    [Category("Display")]
    public IEnumerable<DataLayer.Entities.User>? CurrentUsers { get; set; }
    public IEnumerable<PropertyMetadata>? UserLayout { get; set; }
    public IEnumerable<PropertyMetadata>? GeneralLayout { get; set; }
    public IEnumerable<PropertyMetadata>? LoginLayout { get; set; }
    public DataLayer.Customization.ControlMode? ControlMode { get; set; }
    public DataLayer.Customization.ControlMode? PreviousMode { get; set; }
    [Parameter] public string? Id { get; set; }
    public DataLayer.Entities.User? CurrentUser { get; set; }

    protected string? GetDisplayClass(DataLayer.Customization.ControlMode mode)
    {
        if (ControlMode == mode) return "animate-in";
        if (PreviousMode == mode) return "animate-out";
        return "hidden";
    }

    protected override void OnInitialized()
    {
        // Define the contextual menu for THIS page
        MenuService?.SetMenu(@<StudySauce.Shared.Pages.Shared.Users />);
        UserLayout = Pages.Admin.Users.Metadata.Categories["Display"]?.ToList();
        GeneralLayout = DataLayer.EntityMetadata.User.Groups["General Info"]?.ToList();
        LoginLayout = DataLayer.EntityMetadata.User.Groups["Login Info"]?.ToList();
        Nav.LocationChanged += OnLocationChanged;

    }

    protected void CreateUser()
    {
        
    }

    protected void UpdateUser()
    {

    }

    protected void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        SetControlMode();
    }

    protected void SetControlMode()
    {
        var relativePath = Nav.ToBaseRelativePath(Nav.Uri);

        var segments = relativePath.Split('/');

        DataLayer.Customization.ControlMode? newStep = DataLayer.Customization.ControlMode.List;
        if(segments.Count() == 2 && Id != null)
        {
            newStep = DataLayer.Customization.ControlMode.View;
        }
        else if (segments.Count() >= 2)
        {
            newStep = segments.Last().TryParse<DataLayer.Customization.ControlMode>() ?? DataLayer.Customization.ControlMode.List;
        }


        if (newStep != ControlMode)
        {
            PreviousMode = ControlMode;
            ControlMode = newStep;
            StateHasChanged();
        }
        if(Id != null)
        {
            if(CurrentUser == null || CurrentUser.Guid != Id)
            {
                _ = SetCurrentUser();
            }
        }

        if(ControlMode == DataLayer.Customization.ControlMode.List)
        {
            TitleService?.UpdateTitle("Manage Users");
        }
        else if (ControlMode == DataLayer.Customization.ControlMode.Add)
        {
            TitleService?.UpdateTitle("New User");
        }
        else if (ControlMode == DataLayer.Customization.ControlMode.Edit)
        {
            TitleService?.UpdateTitle("Edit User");

        }
    }


    [Inject]
    public IDbContextFactory<DataLayer.EphemeralStorage>? MemoryFactory { get; set; }


    protected async Task SetCurrentUser()
    {
        if(MemoryFactory == null)
        {
            return;
        }
        using var Context = MemoryFactory.CreateDbContext();
        CurrentUser = await Context.Users.Where(u => u.Guid == Id).FirstOrDefaultAsync();
        TitleService?.UpdateTitle("Edit User - " + CurrentUser?.Username);
        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        CurrentUsers = DataLayer.Generators.Users.Generate();
        SetControlMode();
        StateHasChanged();
    }

    
    public void Dispose()
    {
        Nav.LocationChanged -= OnLocationChanged;
    }
}