@using System.Timers
@using System.ComponentModel
@using System.Text.Json.Serialization
@code
{
    [Parameter] public IEnumerable<DataLayer.Entities.Card>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public EventCallback<object?>? ValueChanged { get; set; }
    private IEnumerable<PropertyMetadata>? AnswerLayout;
    private IEnumerable<PropertyMetadata>? CardLayout;
    protected override void OnInitialized()
    {
        AnswerLayout = DataLayer.EntityMetadata.Card.Categories["Answers"]?.ToList();
        // TODO: AnswerLayout
    }

}

@foreach (var card in Data ?? [])
{

    <div class="card-front @card.ResponseType-card-type">
        <div class="preview-inner">
            @if (card.ContentType == DataLayer.Customization.DisplayType.Image)
            {
                <img src="@card.Content" />
            }
            else if (card.ContentType == DataLayer.Customization.DisplayType.Audio)
            {
                <audio controls src="@card.Content"></audio>
            }
            else
            {
                <div class="preview-content">@(card.Content.Replace("\n", "<br/>"))</div>
            }
        </div>

        <div class="preview-footer">
            @if (card.ResponseType == DataLayer.Customization.CardType.FlashCard) // Flashcard mode
            {
                <button class="preview-tap" @onclick="Flip">Click to see answer</button>
            }
            else if (card.ResponseType == DataLayer.Customization.CardType.Short)
            {
                <input type="text" placeholder="Enter your best guess" />
                <button class="preview-tap" @onclick="Flip">Submit</button>
            }
            else if (card.ResponseType == DataLayer.Customization.CardType.TrueFalse) // True/False
            {
                <button @onclick="@(() => HandleAnswer(null))" class="preview-false">False</button>
                <button @onclick="@(() => HandleAnswer(null))" class="preview-true">True</button>
            }
            else if (card.ResponseType == DataLayer.Customization.CardType.Multiple) // Multiple Choice
            {
                <MetadataControl ValueChanged="@(EventCallback.Factory.Create<Tuple<PropertyMetadata, DataLayer.Entities.Card, object?>>(this, HandleAnswer))" TModel="DataLayer.Entities.Card" Model="@AnswerLayout" Data="Data"></MetadataControl>
            }
        </div>
    </div>
}


@code {

    private bool isFlipped = false;
    private string flashClass = "";

    private void Flip() => isFlipped = true;

    private async Task HandleAnswer(Tuple<PropertyMetadata, DataLayer.Entities.Card, object?> selectedValue)
    {
        ValueChanged?.InvokeAsync(selectedValue.Item3);
    }

    private async Task Next(bool wasCorrect)
    {
        //isFlipped = false;
        //await (ValueChanged?.InvokeAsync(wasCorrect) ?? Task.CompletedTask);
    }
}