@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@using System.Text.Json.Serialization
@code
{
    public class EditControl
    {
        public DataLayer.Entities.Card? Card { get; set; }
        public DataLayer.Customization.ControlMode? Mode { get; set; }
    }

    [Parameter] public List<EditControl>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public EventCallback<object> ValueChanged { get; set; }
    private IEnumerable<PropertyMetadata>? CardLayout;

    protected override void OnInitialized()
    {
        CardLayout = DataLayer.EntityMetadata.Card.Categories["Content"]?.ToList();
    }

}

@foreach (var card in Data ?? [])
{
    <div class="flex-row Card-form-container auto-form-container">
        <span>@(Data?.IndexOf(card) + 1)</span>
        <div class="form-field Content-form-field" b-apmja2q7gc="">
            <input value="@card.Card?.Content" type="text" maxlength="4096" class="my-custom-input-style">
        </div>
        <div class="form-field Responsecontent-form-field" b-apmja2q7gc="">
            <input value="@card.Card?.ResponseContent" type="text" maxlength="4096" class="my-custom-input-style">
        </div>
        <div>
            <select>
                @foreach(var value in Enum.GetValues(typeof(DataLayer.Customization.CardType)))
                {
                    <option value="@value.ToString()">@value.ToString()</option>
                }
            </select>
        </div>
        <span>
            @if(card.Card?.ResponseType == DataLayer.Customization.CardType.Multiple)
            {
                @for(var i = 0; i < 4; i++)
                {
                    <input value="@card.Card?.Answers.ElementAt(i).Value" />
                }
            } else if (card.Card?.ResponseType == DataLayer.Customization.CardType.TrueFalse)
            {
                <input value="@(card.Card?.Answers.ElementAt(0).Value ?? "True")" />
                <input value="@(card.Card?.Answers.ElementAt(1).Value ?? "False")" />
            } else if (card.Card?.ResponseType == DataLayer.Customization.CardType.Short
                || card.Card?.ResponseType == DataLayer.Customization.CardType.Match)
            {
                <select><option value="Match">Exact Match</option><option value="Short">Contains</option></select>
                <input value="@(card.Card?.Answers.ElementAt(0).Value ?? "")" />
            } else
            {
                <span>Set the response type to specify answers.</span>
            }
        </span>
        <span>
            @if (card.Mode != DataLayer.Customization.ControlMode.Edit)
            {
                @* href="@(NavigationExtensions.GetUri<Pages.Admin.Roles>(r => new() { Id = Data!.ToList().IndexOf(role), ControlMode = DataLayer.Customization.ControlMode.Edit }))"*@
                <a @onclick="() => { card.Mode = DataLayer.Customization.ControlMode.Edit; StateHasChanged(); }"><span class="bi bi-pencil"></span></a>
            }
            else
            {
                <a class="cta" @onclick="() => { }">Save</a>
            }
        </span>

    </div>
}
