@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@using System.Text.Json.Serialization
@code
{

    [Parameter] public IEnumerable<DataLayer.Entities.Group>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public EventCallback<object> ValueChanged { get; set; }


    public string GetBackgroundColor(DataLayer.Entities.Group group)
    {
        if (Data == null) return "blue";
        var index = Data.ToList().IndexOf(group);
        var (r, g, b) = Utilities.RgbToHslTools.HslToRgb((360 / (Data.Count() + 1)) * index, 0.5, 0.5);
        return $"background-color:#{(int)r:X2}{(int)g:X2}{(int)b:X2};";
    }
}


@foreach (var group in Data ?? [])
{
    <div class="flex-row">
        <span>
            @if (group.LogoHosted != null || group.Logo?.Url != null)
            {
                <img src="@(group.LogoHosted ?? group.Logo?.Url)" />
            }
            else
            {
                <span style="@GetBackgroundColor(group)" class="bi bi-people"></span>
            }
        </span>
        <span><a href="">@group.Name 
        @if(group.Parent != null) 
        {
            <span>(@group.Parent?.Name)</span>
        }
        </a></span>
        <span>@string.Join(", ", group.Subgroups.Take(3).Select(g => g.Name))</span>
        <span>@group.Packs.Count()</span>
        <span>@group.Users.Count()</span>
        <span><a href="@(NavigationExtensions.GetUri<Pages.Admin.Groups>(g => new () {ControlMode = DataLayer.Customization.ControlMode.Edit, Id = group.Id}))"><span class="bi bi-pencil"></span></a></span>
    </div>
}
