@using System.Reflection
@typeparam TModel

<div class="@containerClass auto-form-container">
    @if (_parameterCache != null)
    {
        @foreach (var entry in _parameterCache)
        {
            <div class="form-field @entry.Metadata.Name.ToSafe()-form-field">
                @*<label>@entry.Metadata.PropertyType</label>
                <label>@GetControl(entry.Metadata.PropertyType).Name</label>*@
                @{
                    var controlType = GetControl(entry.Metadata.PropertyType);
                    RenderFragment renderControl = builder =>
                    {
                        builder.OpenComponent(0, controlType);
                        // Manually assign parameters from your dictionary
                        builder.AddAttribute(1, "Model", entry.Metadata);
                        builder.AddAttribute(2, "ValueChanged", entry.Params["ValueChanged"]);
                        builder.AddAttribute(3, "Data", Data);
                        builder.CloseComponent();
                    };
                }
                @renderControl
                @*<DynamicComponent Type="@ControlMapper.GetControl(entry.Metadata.PropertyType)"
                                  Parameters="@entry.Params" />*@
            </div>
        }
    }
</div>

@code {
    [Parameter] public IEnumerable<PropertyMetadata>? Model { get; set; }
    [Parameter] public IEnumerable<TModel>? Data { get; set; }
    string? containerClass;
    [Parameter] public EventCallback<Tuple<PropertyMetadata, TModel, object?>>? ValueChanged { get; set; }

    private List<(PropertyMetadata Metadata, Dictionary<string, object?> Params)>? _parameterCache;

    public static readonly Dictionary<Type, Type> TypeToControl = new()
        {
            // order matters, put more specific types first, then general system types last
            { typeof(DataLayer.Entities.Card), typeof(CardControl) },
            { typeof(IEnumerable<DataLayer.Entities.Card>), typeof(CardControl) },
            { typeof(IEnumerable<ResultsCardControl.ResultCard>), typeof(ResultsCardControl) },
            { typeof(IEnumerable<DataLayer.Entities.Answer>), typeof(AnswersControl) },
            { typeof(IEnumerable<DataLayer.Entities.Pack>), typeof(PacksControl) },
            { typeof(IEnumerable<DataLayer.Entities.User>), typeof(UsersControl) },
            { typeof(IEnumerable<DataLayer.Entities.Group>), typeof(GroupsControl) },
            { typeof(IEnumerable<RolesControl.ControlRole>), typeof(RolesControl) },
            { typeof(IEnumerable<EditCardControl.EditControl>), typeof(EditCardControl) },
            //{ typeof(DateTime), typeof(DateControl) },
            //{ typeof(int), typeof(NumberControl) }
            { typeof(DataLayer.Customization.PackStatus), typeof(EnumSelect) },
            { typeof(int), typeof(StringControl) },
            { typeof(double), typeof(StringControl) },
            { typeof(decimal), typeof(StringControl) },
            { typeof(float), typeof(StringControl) },
            { typeof(DateTime), typeof(StringControl) },
            { typeof(string), typeof(StringControl) },
            { typeof(object), typeof(TypeControl) },
        };

    public static Type GetControl(Type modelPropertyType)
    {
        foreach(var kvp in TypeToControl)
        {
            if(kvp.Key.IsAssignableFrom(modelPropertyType)
                || kvp.Key.IsAssignableFrom(Nullable.GetUnderlyingType(modelPropertyType)))
            {
                return kvp.Value;
            }
        }
        return typeof(TypeControl);
    }


    protected override void OnParametersSet()
    {
        // Only rebuild if the model actually exists and we haven't cached it yet
        if (_parameterCache == null)
        {
            _parameterCache = Model?.Select((prop, i) => (
                prop,
                new Dictionary<string, object?>
                {
                    { "Model", prop },
                    { "ValueChanged", EventCallback.Factory.Create<object?>(this, (val) => { 
                        ValueChanged?.InvokeAsync(new Tuple<PropertyMetadata, TModel, object?>(prop, (Data ?? []).ElementAt(i), val)); 
                    })}
                }
            )).ToList();
        }

        var modelType = typeof(TModel);

        // Check if it's a generic collection or an array (excluding string)
        bool isEnumerable = modelType != typeof(string) &&
                           (modelType.IsArray ||
                            modelType.GetInterfaces().Any(i => i.IsGenericType && i.GetGenericTypeDefinition() == typeof(IEnumerable<>)));

        if (isEnumerable)
        {
            // Get the inner type name, e.g., List<User> -> "User-list"
            var innerType = modelType.IsArray
                ? modelType.GetElementType()
                : modelType.GetGenericArguments().FirstOrDefault();

            containerClass = $"{(innerType?.Name ?? "enumerable").ToSafe()}-list-container";
        }
        else
        {
            containerClass = $"{modelType.Name.ToSafe()}-form-container";
        }
    }
}
