@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@using System.Text.Json.Serialization
@code
{

    [Parameter] public IEnumerable<DataLayer.Entities.Pack>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public EventCallback<object> ValueChanged { get; set; }

}


@foreach (var pack in Data ?? [])
{
    <div class="flex-row">
        <span><img src="@(pack.LogoHosted ?? pack.Logo?.Url)" /></span>
        <span><a href="">@pack.Title</a></span>
        <span>@pack.Tags</span>
        <span>@pack.Cards.Count()</span>
        <span>@*@pack.UserPacks.Where(up => up.User == )*@ Never studied</span>
        <span>

            <a href="@(NavigationExtensions.GetUri<Pages.Landing.EditPack>(p => new () { ControlMode = DataLayer.Customization.ControlMode.Edit, Id = pack.Id}))">
            <span class="bi bi-pencil"></span>
            </a>

        </span>
    </div>
}
