@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@using System.Text.Json.Serialization
@code
{

    [Parameter] public IEnumerable<ControlRole>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public EventCallback<object> ValueChanged { get; set; }
    public IEnumerable<PropertyMetadata>? RoleLayout { get; set; }

    protected override void OnInitialized()
    {
        RoleLayout = DataLayer.EntityMetadata.Role.Categories["Editable"]?.ToList();
    }

    public string GetBackgroundColor(int? index)
    {
        var (r, g, b) = Utilities.RgbToHslTools.HslToRgb((360 / ((Data?.Count() ?? 0) + 1)) * (index ?? 0), 0.5, 0.5);
        return $"background-color:#{(int)r:X2}{(int)g:X2}{(int)b:X2};";
    }

    public class ControlRole
    {
        public DataLayer.Entities.Role? Role { get; set; }
        public DataLayer.Customization.ControlMode? Mode { get; set; }
        public int? Index { get; set; }
    }

}



@foreach (var role in Data ?? [])
{
    <div class="flex-row @(role.Mode == DataLayer.Customization.ControlMode.Edit ? "edit" : "view")">
        <span>
            <span style="@GetBackgroundColor(role.Index)" class="bi bi-lock"></span>
        </span>
        @if (role.Mode == DataLayer.Customization.ControlMode.Edit)
        {
            <MetadataControl TModel="DataLayer.Entities.Role" Model="@RoleLayout" Data="@([role.Role])"></MetadataControl>
        } else
        {
            <span>@role.Role?.Name</span>
            <span>@role.Role?.Description</span>
        }
        <span>@role.Role?.Groups.Count()</span>
        <span>@role.Role?.Users.Count()</span>
        <span>
            @if (role.Mode != DataLayer.Customization.ControlMode.Edit)
            {
                @* href="@(NavigationExtensions.GetUri<Pages.Admin.Roles>(r => new() { Id = Data!.ToList().IndexOf(role), ControlMode = DataLayer.Customization.ControlMode.Edit }))"*@
                <a @onclick="() => { role.Mode = DataLayer.Customization.ControlMode.Edit; StateHasChanged(); }"><span class="bi bi-pencil"></span></a>
            } else
            {
                <a class="cta" @onclick="() => {}">Save</a>
            }
        </span>
    </div>
}
