@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@using System.Text.Json.Serialization
@code
{

    [Parameter] public IEnumerable<DataLayer.Entities.User>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public EventCallback<object> ValueChanged { get; set; }

    public string GetBackgroundColor(DataLayer.Entities.User user)
    {
        if (Data == null) return "blue";
        var index = Data.ToList().IndexOf(user);
        var (r, g, b) = Utilities.RgbToHslTools.HslToRgb((360 / (Data.Count() + 1)) * index, 0.5, 0.5);
        return $"background-color:#{(int)r:X2}{(int)g:X2}{(int)b:X2};";
    }
}



@foreach (var user in Data ?? [])
{
    <div class="flex-row">
        <span>
            @if (user.PhotoHosted != null || user.Photo?.Url != null) 
            {
                <img src="@(user.PhotoHosted ?? user.Photo?.Url)" />
            }
            else
            {
                <span style="@GetBackgroundColor(user)" class="bi bi-person-circle"></span>
            }
        </span>
        <span><a href="">@user.FirstName @user.LastName (@user.Username)</a></span>
        <span>@string.Join(", ", user.Groups.Take(3).Select(g => g.Name))</span>
        <span>@user.CardsCompleted</span>
        <span>@user.LastVisit</span>
        <span>
            <a href="@(NavigationExtensions.GetUri<Pages.Admin.Users>(u => new () { ControlMode = DataLayer.Customization.ControlMode.Edit, Id = user.Guid }))"><span class="bi bi-pencil"></span></a>
            <a href=""><span class="bi bi-person-vcard"></span></a>
        </span>
    </div>
}
