@page "/"
@page "/home"
@page "/{*notFound}"
@using DataLayer
@using DataLayer.Entities
@using StudySauce.Shared.Controls
@using StudySauce.Shared.Services
@inject IFormFactor FormFactor
@inject IMenuService MenuService
@inject ILoginService LoginService

@if(!String.IsNullOrWhiteSpace(notFound))
{
    <NotFoundControl />
    return;
}

<SyncedTitle Title="Home"></SyncedTitle>

<a class="big-button" href="@(NavigationExtensions.GetUri<Pages.Landing.Pack>(p => new() {Mode = DataLayer.Customization.PackMode.Shuffle}))">
    <span>
        <img width="48" height="48" src="_content/StudySauce.Shared/logo_4_trans_2.png" alt="LOGO" />
        <span>Shuffle</span>
    </span>
</a>

<div class="study-now">
    <h2><a href="@(NavigationExtensions.GetUri<Pages.Landing.Pack>(p => new() { Mode = DataLayer.Customization.PackMode.Shuffle }))">Start studying now</a></h2>
    @if (LoginService.User == null)
    {
        <h3><a href="@(NavigationExtensions.GetUri<Pages.Landing.Login>())">Login to track progress</a></h3>
    }
    @if (LoginService.User == null || LoginService.User.UserPacks.Count(up => up.GetRetention().Any(r => r.Value.IsDue)) == 0)
    {
        <h4><a href="@(NavigationExtensions.GetUri<Pages.Landing.Packs>())">Subscribe to packs to memorize content quickly.</a></h4>
    }
    else
    {
        <heading class="study-row">
            <label>Pack Title</label>
            <label>Card Count</label>
        </heading>
        foreach (var up in LoginService.User.UserPacks.Where(up => up.GetRetention().Any(r => r.Value.IsDue)))
        {
            <div class="study-row">
                <span>@up.Pack?.Title</span>
                <span>@up.GetRetention().Count(r => r.Value.IsDue)</span>
            </div>
        }
    }
</div>

<br />
<br />

@*Welcome to your new app running on <em>@factor</em> using <em>@platform</em>.*@

@*<MetadataControl TModel="PropertyMetadata" Model="@CurrentCategory"></MetadataControl>*@

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
    [Parameter] public string? notFound { get; set; }

    private IEnumerable<PropertyMetadata>? CurrentCategory;

    protected override void OnInitialized()
    {
        // Equivalent to: Source={x:Static data:EntityMetadata.User.Categories[Login Info]}
        // We assign the specific "Login Info" object to the Model property
        //CurrentCategory = EntityMetadata.User.Groups["Login Info"]?.ToList();
        MenuService.SetMenu(null);
        MenuService.SetHeader(false);
    }
}
